$grisUno:#566573;
$grisDos:#808B96;
$grisTres:#D5D8DC ;
$grisCuatro:#283747 ;
$grisCinco:#AEB6BF;
$grisSeis:#515A5A;
$grisSiete:#626567;
$grisOcho:#D5DBDB;
$grisNueve:#F2F4F4;
$grisDiez:#212F3C ;
$tiza:#F8F9F9;
