footer{
    background-color: black;
}
.estilos-footer{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 1rem;
}
.estilos-footer:hover{
    background-color: rgb(144, 139, 158);
    border-radius: 1rem;
    padding: 0.5rem;
}

.imagen-footer:hover{
    background-color: rgb(12, 231, 41);
    
}